###     TELEGRAM     ###
TG_TOKEN=
# полная ссылка или юзернейм канала/пользователя в тг. поддерживает @ в названии юзернейма. распространяется и на TG_CHANNEL_LINK
TG_SUPPORT_LINK=
TG_CHANNEL_LINK=
# оставьте пустым, для отключения вкладок "О тарифе" и "Инструкция"
# информацию и инструкцию вы можете поменять в handlers/info.py
TG_INFO=True
TG_INSTRUCTION=True
# ID админов бота. 2+ значений задаются через запятую без пробелов
# пример: ADMIN_IDS=1234567890,0987654321,0192837465
TG_ADMIN_IDS=
# ссылка на прокси. необязательный параметр. принимает https:// и tg:// ссылки
TG_PROXY=


###     REMNAWAVE     ###
# создаёте токен во вкладке "Настройки Remnawave" -> "API токены", копируете и вставляете сюда
REMNA_TOKEN=
# домен сабки. с https://. используется для формирования подписок
REMNA_SUB_DOMAIN=https://sub.domain.ru/
# url/ip панели для соединения бота с ним. также с http(s)://
REMNA_PANEL_URL=http://127.0.0.1:3000


###     YOOKASSA     ###
YOOKASSA_TOKEN=


###     Цены в рублях     ###
ONE_MONTH=
THREE_MONTHS=
ONE_YEAR=


###     NALOGO     ###
# оставьте пустым для выключения формирования чеков в налоговую
NALOGO_ACTIVE=
NALOGO_INN=
NALOGO_PASSWORD=
# socks5 прокси для генерации чеков. необязательный параметр
# принимает строку вида socks5://user:pass@domain.com:443
NALOGO_PROXY=