###     TELEGRAM     ###
TG_TOKEN=
# полная ссылка или юзернейм канала/пользователя в тг. поддерживает @ в названии юзернейма. распространяется и на TG_CHANNEL_LINK
TG_SUPPORT_LINK=
TG_CHANNEL_LINK=
# ID админов бота. 2+ значений задаются через запятую без пробелов
# пример: ADMIN_IDS=1234567890,0987654321,0192837465
TG_ADMIN_IDS=
# ссылка на прокси. необязательный параметр. принимает https:// и tg:// ссылки
TG_PROXY=
# за сколько дней до истечении бот будет уведомлять пользователя. несколько дней можно ввести с помощью запятой без пробелов
TG_NOTIFY_DAYS=1,2


###     REMNAWAVE     ###
# создаёте токен во вкладке "Настройки Remnawave" -> "API токены", копируете и вставляете сюда
REMNA_TOKEN=
# домен сабки. с https://. используется для формирования подписок
REMNA_SUB_DOMAIN=https://sub.domain.ru/
# url/ip панели для соединения бота с ним. также с http(s)://
REMNA_PANEL_URL=http://127.0.0.1:3000


###     SUBSCRIPTION     ###
# указывает трафик для каждого пользователя в гб. без ограничений если не указан параметр
SUB_BASE_TRAFFIC=
# количество устройств для каждого пользователя. использует ваш лимит по умолчанию в панели если не указан параметр
SUB_BASE_DEVICES=

# количество дней пробного периода
SUB_TRIAL_DAYS=
# трафик для пробной сабки в гб. использует SUB_BASE_TRAFFIC если не указан параметр
SUB_TRIAL_TRAFFIC=
# количество устройств для пробной сабки. использует SUB_BASE_DEVICES если не указан параметр
SUB_TRIAL_DEVICES=


###     YOOKASSA     ###
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
# необязательный параметр. по дефотлу tg://resolve?domain={bot_info.username}, т.е. будет перекидывать сразу на бота.
YOOKASSA_RETURN_URL=


###     Цены в рублях     ###
ONE_MONTH=
THREE_MONTHS=
ONE_YEAR=


###     NALOGO     ###
# оставьте пустым для выключения формирования чеков в налоговую
NALOGO_ACTIVE=
NALOGO_INN=
NALOGO_PASSWORD=
# socks5 прокси для генерации чеков. необязательный параметр
# принимает строку вида socks5://user:pass@domain.com:443
NALOGO_PROXY=