###     TELEGRAM     ###
TG_TOKEN=
# полная ссылка или юзернейм канала/пользователя в тг. поддерживает @ в названии юзернейма. распространяется и на TG_CHANNEL_LINK
TG_SUPPORT_LINK=
TG_CHANNEL_LINK=
# ID админов бота. 2+ значений задаются через запятую без пробелов
# пример: ADMIN_IDS=1234567890,0987654321,0192837465
TG_ADMIN_IDS=
# ссылка на прокси. необязательный параметр
TG_PROXY=
# за сколько дней до истечении бот будет уведомлять пользователя. несколько дней можно ввести с помощью запятой без пробелов
# поддерживает промежутки через тире
TG_NOTIFY_DAYS=1-3,5
# включить ли уведомление о том что подписка закончилась
TG_SUB_END_NOTIFY=1
# ссылка на политику конфиденциальности. по умолчанию ВЫКЛ
TG_PRIVACY_URL=
# ссылка на условия пользования. по умолчанию ВЫКЛ
TG_TERMS_URL=
# id чата с логами. необязательный параметр
TG_LOG_CHAT_ID=-1003971284593
# id топика для логов об оплатах
TG_LOG_PAYMENT_TOPIC_ID=2
# id топика для логов об активации пробного периода
TG_LOG_TRIAL_TOPIC_ID=47
# id топика для логов об ошибках
TG_LOG_ERRORS_TOPIC_ID=6 


###     REMNAWAVE     ###
# создаёте токен во вкладке "Настройки Remnawave" -> "API токены", копируете и вставляете сюда
REMNAWAVE_TOKEN=
# url/ip панели для соединения бота с ним. также с http(s)://
REMNAWAVE_PANEL_URL=http://127.0.0.1:3000


###     SUBSCRIPTION     ###

# uuid сквада для платных пользователей
SUB_BASE_SQUAD_UUID=
# uuid сквада для пробных пользователей. по дефолту стоит тот же что и для платных
SUB_TRIAL_SQUAD_UUID=

# указывает трафик для каждого пользователя в гб. без ограничений (0) если не указан параметр
SUB_BASE_TRAFFIC=
# трафик для пробной сабки в гб. использует SUB_BASE_TRAFFIC если не указан параметр
SUB_TRIAL_TRAFFIC=

# кол. девайсов для каждого пользователя. использует ваш лимит по умолчанию в панели если не указан параметр, либо без ограничений (0)
SUB_BASE_DEVICES=
# количество устройств для пробной сабки. использует SUB_BASE_DEVICES если не указан параметр
SUB_TRIAL_DEVICES=

# количество дней пробного периода. оставьте поле пустым для отключения функции
SUB_TRIAL_DAYS=

# количество дней, которое будет начисляться за оплату подписки по рефералке
# выключено если отсутствует
SUB_REF_BONUS_DAYS=


###     YOOKASSA     ###
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
# необязательный параметр. по дефотлу tg://resolve?domain={bot_info.username}, т.е. будет перекидывать сразу на бота.
YOOKASSA_RETURN_URL=


###     PRICE     ###
# все цены в рублях
PRICE_ONE=
PRICE_THREE=
PRICE_TWELVE=


###     NALOGO     ###
# оставьте пустым для выключения формирования чеков в налоговую
NALOGO_ACTIVE=off
NALOGO_INN=
NALOGO_PASSWORD=
# socks5 прокси для генерации чеков. необязательный параметр
# принимает строку вида socks5://user:pass@domain.com:443
NALOGO_PROXY=